<configuration>
   <system.runtime.remoting>
      <application>
      	<lifetime
      		leaseTime="50M"
      		sponsorshipTimeout="50M"
      		renewOnCallTime="50M"
      		leaseManagerPollTime="10M"
      		/>
         <channels>
				<channel 
					type="Belikov.GenuineChannels.GenuineTcp.GenuineTcpChannel, GenuineChannels"
					PersistentConnectionSendPingAfterInactivity ="1000" 
					MaxTimeSpanToReconnect="300000"
					MaxContentSize="20000000"
					MaxQueuedItems="10000"
					MaxTotalSize="200000000000"
					ReconnectionTries="180"
					SleepBetweenReconnections="2000"									
					InvocationTimeout="600000"					
					port="5600" />
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>