<configuration>
   <system.runtime.remoting>
      <application>
      	<lifetime
      		leaseTime="50M"
      		sponsorshipTimeout="50M"
      		renewOnCallTime="50M"
      		leaseManagerPollTime="10M"
      		/>
         <channels>
				<channel 
					type="Belikov.GenuineChannels.GenuineXHttp.GenuineXHttpChannel, GenuineChannels"
					MaxTimeSpanToReconnect="300000"
					MaxContentSize="900000"
					MaxQueuedItems="1000"
					MaxTotalSize="10000000"
					ReconnectionTries="180"
					SleepBetweenReconnections="2000"									
					port="5600" />
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
