<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Driver" value="Default_Audio_Device" />
    <add key="Quality" value="2" />
    <add key="ExceptionBehaviour" value="log"/><!--expected value will be "show" (show exception) & "log" (log exception)-->


	<add key="FtpServer" value="vista" />
    <add key="FtpServer_Username" value="Ahmed" />
    <add key="FtpServer_Password" value="three" />
    


  </appSettings>  
</configuration>